<div class="form-group">
    <div class="col-xs-6 grid">
        {EXPLODE}
        {msg}
        {EXPLODE}
        <div class="col-xs-12 row" id="picture">{picture}</div>
        {EXPLODE}
        <div class="col-xs-12 row" id="guess_word">{guess_word}</div>
    </div>
    <div class="col-xs-6 grid">
        {EXPLODE}
        {letter}
        <div id="guessed_letters" class="form-group col-lg-12 row">
            {guessed_letters}
        </div>
        {difficulty}
        {EXPLODE}
    </div>
    <div class="col-xs-12">
        <div>
            <input type="submit" class="btn btn-default pull-right" name="newgame" value="{_lang_newGame}" />
        </div>
    </div>
</div>
